nav {
  height: 80px;
  background-color: mistyrose;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 40px;
  position: relative;
  border-bottom: 2px solid sandybrown;
  
  .brand {
    display: flex;
    align-items: center;
    gap: 20px;

    .title {
      font-size: 24px;
      color: brown;
      font-family: cursive;
    }

    .line {
      width: 2px;
      height: 60px;
      background-color: sandybrown;
    }
  }

  .menu-toggle {
    display: none;
    flex-direction: column;
    gap: 5px;
    cursor: pointer;

    span {
      width: 25px;
      height: 3px;
      background-color: brown;
    }
  }

  ul {
    display: flex;
    gap: 20px;
    list-style: none;
    margin: 0;
    padding: 0;
    align-items: center;

    li {
      a {
        text-decoration: none;
        font-size: 18px;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
        color: brown;

        &:hover {
          color: #555;
        }
      }
    }
  }
}

@media (max-width: 768px) {
  .menu-toggle {
    display: flex;
  }
  title{
    display: flex;
    flex-direction: column;
    
  }

  ul {
    position: initial;
    top: 80px;
    right: 0;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    align-items: center;
    display: none;

    li {
      width: 100%;
      padding: 10px 0;

      a {
        display: block;
        width: 100%;
        text-align: center;
      }
    }
  }

  ul.active {
    display: flex;
  }
}
